<h1>You need to make tough decisions!</h1>
Please use this site to be awesome, weighing all the criteria and make great choices in life.

<%= form_for @user do |f| %>
	<%= f.text_field :name, placeholder: "WHO ARE YOU????" %><br />
	<%= f.text_field :email, placeholder: "your super secret email address..  we will be spamming.." %><br />
	<%= f.password_field :password, placeholder: "password ..." %><br />
	<%= f.password_field :password_confirmation, placeholder: "... and again" %>
	<%= f.submit %>
<% end if !current_user %>

